@use './share.scss' as *;

@font-face {
    font-family: 'Lucida Handwriting';
    src: url('../assets/fonts/LHANDW.ttf');
}

$main_color: #66ccff;

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';

    background: {
        color: $main-color;
        image: $background-url;
        position: center center;
        repeat: no-repeat;
        attachment: fixed;
        size: cover;
    }

    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.2);
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
        border-radius: 0;
        background: $main-color;
    }
}

h1 {
    color: $main_color;
    font-size: 22px;
    margin: 0;
    line-height: 24px;
}

p {
    color: $main_color;
    font-size: 16px;
}

a {
    text-align: center;
    color: white;
    font-size: 16px;
    line-height: 10px;

    &:hover {
        color: white;
        text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff;
    }
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 364px;
    padding: 24px;
    backdrop-filter: blur(5px);
    background-color: rgba(36, 36, 36, 0.55);

    border: 2px rgba(0, 0, 0, 0.4) solid {
        bottom: 2px rgba(40, 40, 40, 0.35) solid;
        right: 2px rgba(40, 40, 40, 0.35) solid;
        left: 2px rgba(0, 0, 0, 0.4) solid;
        radius: 8px;
    }

    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
}

p:last-of-type {
    margin-bottom: 0;
}
