$screen-limit: 960px;

$theme-color: #66ccff;
$main-color: #242424;
$main-color-light: #e0e0e0;
$p-color: #00ffff;
$p-color-light: #008b8b;
$a-color: #ffffff;
$footer-color: #a9a9a9;

$background-url: url('../assets/images/background-dark.png');
$background-url-light: url('../assets/images/background-light.png');
$head-image-url: url('../assets/images/head-image.webp');

@mixin background($url, $color) {
    background: {
        image: $url;
        position: center center;
        repeat: no-repeat;
        size: cover;
        color: $color;
    }
}