$screen-limit: 960px;

$theme-color: #66ccff;
$main-color: #242424;
$main-color-light: #e0e0e0;
$p-color: #00ffff;
$a-color: #ffffff;
$footer-color: #a9a9a9;

$background-url: url('../assets/images/background-dark.png');
$background-url-light: url('../assets/images/background-light.png');
$head-image-url: url('https://pic.imgdb.cn/item/63b5351ebe43e0d30ee5a31b.jpg');

@mixin background($url, $color) {
    background: {
        image: $url;
        position: center center;
        repeat: no-repeat;
        size: cover;
        color: $color;
    }
}