---
import "@/styles/globals.css";
import icon from "@/assets/icon.svg?raw";
---

<html lang="en" style={{ "--theme-color": "#66ccff" }}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Page Not Found</title>
    <link rel="icon" href=`data:image/svg+xml,${encodeURIComponent(icon)}` />
  </head>

  <body>
    <div class="card">
      <div class="header">
        <h1>Page Not Found</h1>
      </div>
      <div class="body">
        <p>
          Looks like you've followed a broken link or entered a URL that doesn't exist on this site.
        </p>
        <p>
          <a id="back-link" href="/"> &lt; Back to the homepage </a>
        </p>
        <hr />
        <p>
          This is Expector's site. If there is any issue please inform me on&nbsp;
          <a href="https://github.com/Expector-Hutch/Expector-s-personal-homepage/issues">Github</a
          >, or send an e-mail to&nbsp;
          <a href="mailto: expector-hutch@outlook.com">expector-hutch@outlook.com</a>.
        </p>
      </div>
    </div>
    <style>
      html,
      body {
        user-select: none;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .card {
        display: flex;
        flex-direction: column;
        width: 75%;
        max-width: 364px;
        padding: 0 24px;
        justify-content: center;
        align-items: stretch;
      }
    </style>
  </body>
</html>
