---
import Hitokoto from "../components/Hitokoto.astro";
import GithubLink from "../components/GithubLink.astro";
import LightButton from "../components/LightButton.astro";
import IconLinks from "../components/IconLinks.astro";

import data from "../data/data.yaml";
---

<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <title>{data.name} 的主页</title>
    <link rel="icon" href="/icon.svg" />
  </head>

  <body>
    <div class="main-card">
      <aside id="head-image"></aside>
      <main>
        <GithubLink href="https://github.com/Expector-Hutch/Expector-s-personal-homepage" />

        <h1 id="title">{data.name}</h1>

        <p id="self-introduction">{data.introduction}</p>

        <Hitokoto />

        <div id="friends">
          <p>友链</p>

          <friend-links-ctr>
            <friend-link
              name="枫上天游"
              href="https://www.fstu.cc/"
              icon="https://avatars.githubusercontent.com/u/105190211?v=4"
            >
              一个普普通通的OIer，兴趣广泛
            </friend-link>

            <friend-link
              name="云帆沧海"
              href="https://budawu.github.io/"
              icon="https://avatars.githubusercontent.com/u/98736983?v=4"
            >
              勇敢为你，无畏地做白日梦 高中生/飞友/锦依卫/港区萌新指挥官
            </friend-link>

            <friend-link
              name="邱璇洛"
              href="https://qiuxuanluo.xlog.app/"
              icon="https://avatars.githubusercontent.com/u/72391548?v=4"
            >
              立志于做一些奇奇怪怪希望有点用的事~
            </friend-link>

            <friend-link
              name="HD Superman"
              href="https://hackertalk.net/users/186247014399643648"
              icon="https://avatars.githubusercontent.com/u/50064165?v=4"
            >
              Across the Great Wall, we can reach every corner in the world.
            </friend-link>
          </friend-links-ctr>
        </div>

        <div class="app-links">
          <LightButton color="#ff1f71" href="https://space.bilibili.com/1530809275"
            >哔站</LightButton
          >
          <LightButton color="#2bd2ff" href="https://www.cnblogs.com/expector/">博客</LightButton>
          <LightButton color="#11ff45" href="mailto: expector-hutch@outlook.com">邮箱</LightButton>
        </div>

        <music-player server="netease" type="song" id="420397887" theme="#66ccff"></music-player>

        <div class="more-links">
          <IconLinks href="https://github.com/Expector-Hutch/" icon="github" />
          <IconLinks href="https://gitee.com/expector" icon="gitee" />
          <IconLinks href="https://www.zhihu.com/people/shadowenderking" icon="zhihu" />
        </div>

        <footer>
          <p>
            &copy; 2022-2026&nbsp;
            <a href="https://expector.netlify.app/" target="_blank">Expector</a>
            <br />Text:&nbsp;
            <a
              href="https://creativecommons.org/licenses/by-nc-nd/4.0/"
              title="Creative Commons License Details"
              target="_blank">CC BY-NC-ND</a
            >&nbsp;&mdash;&nbsp;Code:&nbsp;
            <a
              href="https://github.com/Expector-Hutch/Expector-s-personal-homepage/blob/main/LICENSE"
              >GPL v3.0</a
            >
          </p>
        </footer>
      </main>
    </div>
    <div id="app" style="color: rgb(99, 195, 174)"></div>
    <script src="../main.ts"></script>
  </body>
</html>
