<footer>
  <p>
    &copy; 2022-2026&nbsp;
    <a href="https://expector.netlify.app/" target="_blank">Expector</a>
    <br />Text:&nbsp;
    <a
      href="https://creativecommons.org/licenses/by-nc-nd/4.0/"
      title="Creative Commons License Details"
      target="_blank">CC BY-NC-ND</a
    >&nbsp;&mdash;&nbsp;Code:&nbsp;
    <a href="https://github.com/Expector-Hutch/Expector-s-personal-homepage/blob/main/LICENSE"
      >GPL v3.0</a
    >
  </p>
</footer>
<style>
  footer p,
  footer a,
  footer a:hover {
    color: #a9a9a9;
    font-size: 10px;
  }
</style>
