@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/dist/backdrop.css';
@import 'tippy.js/animations/scale.css';

friend-link {
    display: flex;
    margin: {
        top: 0.2em;
        bottom: 0.2em;
    }
}

.tippy-content {
    width: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    padding: 11px;
    text-shadow: none;

    img {
        height: 1.6em;
        width: 1.6em;
        border-radius: 50%;
    }

    h3 {
        display: inline;
        font-size: 17px;
        color: #66ccff;
    }

    hr {
        width: 100%;
        border: 1px solid aqua;
        margin-top: 0px;
    }

    p {
        color: white;
        margin-bottom: 0;
        margin-top: 0.5em;
    }
}

friend-links-ctr {
    display: flex;
}