$transition: 0.5s;

@mixin btn_trans_base() {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.light-btn {
    position: relative;

    a {
        text-decoration: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);

        border: {
            top: 1px solid rgba(255, 255, 255, 0.1);
            bottom: 1px solid rgba(255, 255, 255, 0.1);
            radius: 30px;
        }

        color: #fff;
        z-index: 1;
        font-weight: 400;
        letter-spacing: 1px;
        overflow: hidden;
        backdrop-filter: blur(20px);

        transition: $transition;
    }
}

@media (min-width: 960px) {
    .light-btn {
        width: 150px;
        height: 33px;
        margin: 0px 20px;

        &:hover {
            @mixin btntb() {
                width: 80%;
                height: 50%;
                border-radius: 30px;
            }

            &:before {
                @include btntb();
                bottom: 0px;
            }

            &:after {
                @include btntb();
                top: 0px;
            }

            a {
                letter-spacing: 3px;

                &::before {
                    transform: skew(45deg) translateX(100px);
                }
            }
        }

        @mixin btnba() {
            @include btn_trans_base();
            width: 30px;
            height: 10px;
            border-radius: 10px;
            transition: $transition;
        }

        &::before {
            @include btnba();
            bottom: -5px;
        }

        &::after {
            @include btnba();
            top: -5px;
        }

        a::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
            transform: skew(45deg) translateX(0);
            transition: $transition;
        }
    }
}

@media (max-width: 959px) {
    .light-btn {
        height: 50px;

        @mixin btnba() {
            @include btn_trans_base();
            width: calc(100% - 30px);
            height: 50%;
            border-radius: 30px;
        }

        &::before {
            @include btnba();
            bottom: 10px;
        }

        &::after {
            @include btnba();
            top: 5px;
        }
    }
}