@font-face {
    font-family: LHANDW;
    src: url('./assets/fonts/LHANDW.ttf');
}

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/images/background-dark.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #66ccff;
}

body::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
body::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: #66ccff;
}